<div>
    <div class="grid grid-cols-5 cursor-pointer group" (click)="isShowListLecture = !isShowListLecture">
        <div class=" col-span-4 group-hover:text-active-btn-h">
            <span class="block font-semibold">{{chapter.name}}</span>
            <span class="block"> {{lectureCount}} bài học</span>
        </div>
        <div class="col-span-1 flex justify-end items-center group-hover:text-active-btn-h" >
            <i *ngIf="isShowListLecture" class="fa-solid fa-angle-down"></i>
            <i *ngIf="!isShowListLecture" class="fa-solid fa-angle-up"></i>
        </div>
    </div>
    <div class="mt-2" *ngIf="isShowListLecture" @slideToggle>
        <ng-container *ngFor="let lecture of lectures">
            <app-learner-lecture [lecture]="lecture" [isEnrolled]="false" [learnLectureComplate]="learnLectureComplate" ></app-learner-lecture>
        </ng-container>
    </div>

</div>
