<div class="py-5">
    <div class="mb-10">
        <h2 class="leading-relaxed text-center">{{title}}</h2>
    </div>
    <div class="overflow-x-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-white flex justify-between gap-x-10"  >
        <div class="w-[380px]">
            <p-chart type="pie" [data]="totalPriceData" [options]="options" ></p-chart>
            <p class="text-center mt-4 font-semibold">Biểu đồ giá gốc</p>
        </div>
        <div class="w-[380px]">
            <p-chart type="pie" [data]="discountData" [options]="options" ></p-chart>
            <p class="text-center mt-4 font-semibold">Biểu đồ tiền giảm giá</p>
        </div>
        <div class="w-[380px]">
            <p-chart type="pie" [data]="finalPriceData" [options]="options" ></p-chart>
            <p class="text-center mt-4 font-semibold">Biểu đồ doanh thu</p>
        </div>
    </div>
</div>

