<p-confirmDialog [style]="{'max-width': '600px'}" ></p-confirmDialog>

<div class=" mt-10 md:w-[90%] md:max-w-[1400px]  mx-auto px-2 text-text-color mb-10 relative">

    <div class="title border-b-[2px] border-border-color pb-5">
        <h1 class="leading-relaxed">Quản lý khóa học</h1>
    </div>

    <div class="title border-b-[2px] border-b-neutral-300  mt-5">
        <div class="flex gap-x-10 text-link-color font-semibold text-[18px]   overflow-auto">

            <a routerLink="info" class="hover:text-link-color-h pb-5 whitespace-nowrap" [ngClass]="{'border-black border-b-2' : isCurrentUrl('info')}">Tổng quan khóa học</a>
            <a routerLink="content" class="hover:text-link-color-h whitespace-nowrap" [ngClass]="{'border-black border-b-2' : isCurrentUrl('content')}">Chương trình giảng dạy</a>
            <a routerLink="discount" class="hover:text-link-color-h whitespace-nowrap" [ngClass]="{'border-black border-b-2' : isCurrentUrl('discount')}">Mã giảm giá </a>
            <a routerLink="learner-statistics" class="hover:text-link-color-h whitespace-nowrap" [ngClass]="{'border-black border-b-2' : isCurrentUrl('learner-statistics')}">Thống kê học viên</a>
            <a routerLink="qa" class="hover:text-link-color-h whitespace-nowrap" [ngClass]="{'border-black border-b-2' : isCurrentUrl('qa')}">Hỏi đáp</a>
            <a routerLink="reviews" class="hover:text-link-color-h whitespace-nowrap" [ngClass]="{'border-black border-b-2' : isCurrentUrl('reviews')}">Đánh giá</a>

        </div>
    </div>

    <div class="mt-6">
        <router-outlet></router-outlet>
    </div>
</div>


