<div class="mt-5">
    <div class="  border-b-2 border-border-color px-2  cursor-pointer">
        <div class="flex gap-x-5 flex-wrap mt-3 pb-1">
            <div class="w-[55px] h-[55px] ">
                <img [src]="environment.profilePictureApi+question.user.profilePicture" class="rounded-full h-full w-full object-cover border-[1px] border-custom-gray shadow-md shadow-custom-gray">
            </div>
            <div class="flex-1 bg-gray-100  p-2 rounded-md flex items-center " *ngIf="!isShowEditQuestionForm" @slideToggle3>
                <div class="  flex-1 ">
                    <h2>{{question.user.fullName}} <span *ngIf="question.user.id == question.course.instructor.id" class="text-[16px] text-delete-btn font-medium">(Tác giả khóa học)</span></h2>

                    <div class="mt-1 w-full">
                        <div class=" line-clamp-2 " #textContent [ngClass]="{ 'line-clamp-none': showFullText }">
                            {{ question.content }}
                        </div>

                        <button *ngIf="isClamped" class="text-active-btn text-[14px]" (click)="toggleText()">
                            {{ showFullText ? 'Ẩn bớt' : 'Đọc tiếp' }}
                        </button>
                    </div>

                    <div class="mt-2 w-full flex gap-x-10">
                        <span class="text-[14px] flex items-center text-active-btn hover:text-active-btn-h" *ngIf="answers.length > 0" (click)="isShowAnswer = !isShowAnswer">Xem phản hồi</span>
                        <span class="text-[14px] flex items-center text-active-btn hover:text-active-btn-h" (click)="isShowAnswerForm = !isShowAnswerForm">Trả lời</span>
                        <span class="text-[14px] flex items-center text-active-btn hover:text-active-btn-h" *ngIf="loggedUser!.id == question.user.id" (click)="isShowEditQuestionForm = !isShowEditQuestionForm">Chỉnh sửa </span>
                        <span class="text-[14px] flex items-center text-red-500 hover:text-red-600" *ngIf="loggedUser!.id == question.user.id" (click)="onDelQuestion()">Xóa</span>
                        <span class="text-[14px] flex items-center text-red-500 hover:text-red-600" *ngIf="isRootOrAdmin()" (click)="onDelByAdmin()">Quản trị viên xóa</span>
                        <span class="text-[14px] flex items-center text-active-btn hover:text-active-btn-h" *ngIf="loggedUser!.id != question.user.id" (click)="isOpenReportForm = !isOpenReportForm; reportForm.reset()">Báo cáo</span>
                        <span class="text-[14px] flex items-center">{{question.createdTime }}</span>
                    </div>
                </div>
                <div class="min-w-[55px] flex justify-end items-center">
                    <i class="fa-regular fa-message"></i>
                    <span class="ml-2">{{countAnswer}}</span>
                </div>
            </div>
            <div *ngIf="isShowEditQuestionForm" class="flex-1" @slideToggle2>
                <form [formGroup]="editQuestionForm">
                    <div class="mt-3">
                        <label class="text-[16px] font-semibold">Nội dung câu hỏi</label>
                        <textarea class="w-full border-2 border-custom-gray rounded-md p-2.5 mt-3 " formControlName="content"></textarea>
                    </div>
                    <div class="flex justify-end">
                        <button class="py-1.5 px-5 bg-active-btn text-text-white hover:bg-active-btn-h mt-1 rounded-md" (click)="editQuestion()">
                            Lưu câu hỏi
                        </button>
                        <button class="py-1.5 px-5 bg-red-500 text-text-white hover:bg-red-600 mt-1 rounded-md ml-2" (click)="isShowEditQuestionForm = !isShowEditQuestionForm">
                            Hủy
                        </button>
                    </div>
                </form>
            </div>


        </div>



    </div>
    <div class="border-b-2 border-border-color px-2 cursor-pointer w-[95%] ml-[5%]" *ngIf="isShowAnswer" @slideToggle>
        <ng-container *ngFor="let answer of answers">
            <app-shared-answers [answer]="answer" [questionId]="question.id" [lectureId]="lectureId" (deleteAnswer)="deleteAnswer($event)" (deleteByAdmin)="onDelAnswerByAdmin($event)"></app-shared-answers>
        </ng-container>
    </div>
    <div class="border-b-2 border-border-color px-2 cursor-pointer w-[95%] ml-[5%]" *ngIf="isShowAnswerForm" @slideToggle>
        <form [formGroup]="answerForm">

            <div class="mt-3">
                <label class="text-[16px] font-semibold">Nội dung trả lời</label>
                <textarea class="w-full border-2 border-custom-gray rounded-md p-2.5 mt-3 " formControlName="content"></textarea>
            </div>
            <div class="flex justify-end">
                <button class="py-1.5 px-5 bg-active-btn text-text-white hover:bg-active-btn-h mt-1 rounded-md" (click)="createAnswer()">
                    Lưu câu trả lời
                </button>
            </div>

        </form>

    </div>

</div>
<div class="fixed inset-0  bg-[rgba(1,1,1,0.3)] flex items-center justify-center" *ngIf="isOpenReportForm">
    <div class="bg-white p-5 rounded-md shadow-gray-400 shadow-md w-[700px]">
        <h2 class="text-center">Báo cáo câu hỏi</h2>
        <form [formGroup]="reportForm">
            <div class="mt-5">
                <label  class="block text-base font-[600] mt-15 ">Lý do báo cáo</label>
                <textarea formControlName="reason" class="w-full h-[100px] border-custom-gray border-2 shadow-gray-400 shadow-md mt-5 p-5"></textarea>
            </div>
            <div class="acction-btn mt-10 flex justify-center gap-10">
                <button class="py-2.5 px-14 text-white font-semibold bg-delete-btn hover:bg-delete-btn-h  rounded-md shadow-gray-400 shadow-md " (click)="reportAnswer()" >Báo cáo</button>
                <button class="py-2.5 px-10  font-semibold hover:bg-custom-gray rounded-md shadow-gray-400 shadow-md border-2 bg-gray-100" (click)="isOpenReportForm = !isOpenReportForm" >Hủy</button>
            </div>
        </form>
    </div>
</div>