<div class="flex justify-end  w-full mt-5">
    <div class="flex items-start space-x-2 max-w-[80%]" *ngIf="!minimized">

        <div>
            <div class="bg-blue-50 p-3 rounded-lg border-2 border-custom-gray shadow-custom-gray shadow-md">
                <p class="text-text-color">{{message.message}}</p>
                <div class="flex justify-end  items-center mt-2">
                    <span class="text-xs text-gray-600">{{formatTimestamp(message.timestamp)}}</span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0">
            <div class=" w-[64px] h-[64px] ">
                <img [src]="environment.profilePictureApi+message.receiver.profilePicture" class="h-full w-full rounded-full border-2 border-custom-gray object-cover shadow-custom-gray shadow-md">
            </div>
        </div>
    </div>
    <div class="flex items-start space-x-2 max-w-[95%]" *ngIf="minimized">

        <div>
            <div class="bg-blue-50 p-3 rounded-lg border-2 border-custom-gray shadow-custom-gray shadow-md">
                <p class="text-text-color">{{message.message}}</p>
                <div class="flex justify-end  items-center mt-2">
                    <span class="text-xs text-gray-700">{{formatTimestamp(message.timestamp)}}</span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0">
            <div class=" w-[42px] h-[42px] ">
                <img [src]="environment.profilePictureApi+message.receiver.profilePicture" class="h-full w-full rounded-full border-2 border-custom-gray object-cover shadow-custom-gray shadow-md">
            </div>
        </div>
    </div>
</div>