<div class="max-w-[600px] w-[98%] border-4 rounded-[26px] m-4 border-primary-color mx-auto mt-10 py-8 px-10">
    <div class="mx-auto w-full ">
        <h2 class=" text-center text-[24px] font-bold leading-9  ">Đặt lại mật khẩu</h2>
    </div>
    <div *ngIf="!isSendingEmail">
        <form [formGroup]="forgotPasswordForm">
        <label class="block text-base font-[500] mt-5">Vui lòng điền Email bạn sử dụng để đăng nhập</label>
        <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required
                   class="block w-full rounded-md  p-2.5 px-1.5 shadow-sm ring-2 ring-inset ring-custom-gray text-base placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color "
                     formControlName="email"
            >
            <div *ngIf="forgotPasswordForm.get('email')!.invalid && forgotPasswordForm.get('email')!.touched" class="text-red-600 text-sm">
                Email không hợp lệ
            </div>
        </div>
        <div class="mt-4">
            <button
                    class="flex w-full justify-center rounded-md bg-active-btn px-3 p-2.5 text-base font-semibold  text-white shadow-sm hover:bg-active-btn-h "
                    (click)="sendResetPasswordEmail()"
            >
                Gửi yêu cầu
            </button>
        </div>
        </form>
    </div>
    <div *ngIf="isSendingEmail">
        <div class=" mt-5">
            <span>Chúng tôi đã gửi email đặt lại mật khẩu cho bạn. Vui lòng kiểm tra email của bạn. </span>
            <span>Nếu bạn không nhận được email, vui lòng kiểm tra thư mục spam hoặc thử lại sau (
                <span class="text-active-btn">{{timeLeft}}s</span>
                )
            </span>
        </div>
        <div class="mt-4">
            <button
                    class="flex w-full justify-center rounded-md bg-active-btn px-3 p-2.5 text-base font-semibold  text-white shadow-sm hover:bg-active-btn-h disabled:bg-gray-400"
                    [disabled]="timeLeft > 0"
                    (click)="sendResetPasswordEmail()"
            >
                Gửi lại email
            </button>
        </div>
    </div>
</div>

<div class="fixed inset-0  bg-[rgba(12,12,12,0.6)] flex items-center justify-center " *ngIf="isLoaded">
    <div class=" top-[2px] left-[48%]" >
        <div class="animate-spin rounded-full h-10 w-10 border-t-4 border-b-4 border-blue-600"></div>
    </div>
</div>