<div class="max-w-[600px] w-[98%] border-4 rounded-[26px] m-4 border-primary-color mx-auto mt-10 py-8 px-10">
    <div class="mx-auto w-full ">
        <h2 class=" text-center text-[24px] font-bold leading-9  ">Đặt lại mật khẩu</h2>
    </div>

    <div *ngIf="valid">
        <form [formGroup]="resetForm">
            <label class="block text-base font-[500] mt-5">Mật khẩu mới</label>
            <input id="password" name="password" type="password" autocomplete="password" required
                   class="block w-full rounded-md  p-2.5 px-1.5 shadow-sm ring-2 ring-inset ring-custom-gray text-base placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color "
                   formControlName="password"
            >
            <div *ngIf="resetForm.get('password')!.invalid && resetForm.get('password')!.touched" class="text-red-600 text-sm">
                Mật khẩu không hợp lệ
            </div>
            <label class="block text-base font-[500] mt-5">Nhập lại mật khẩu</label>
            <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="confirmPassword" required
                   class="block w-full rounded-md  p-2.5 px-1.5 shadow-sm ring-2 ring-inset ring-custom-gray text-base placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color "
                   formControlName="confirmPassword"
            >
            <div *ngIf="resetForm.get('confirmPassword')!.invalid && resetForm.get('confirmPassword')!.touched" class="text-red-600 text-sm">
                Mật khẩu không hợp lệ
            </div>
            <div *ngIf="!validPassword" class="text-red-600 text-sm">
                Mật khẩu và xác nhận mật khẩu không khớp
            </div>

            <div class="mt-4">
                <button
                        class="flex w-full justify-center rounded-md bg-active-btn px-3 p-2.5 text-base font-semibold  text-white shadow-sm hover:bg-active-btn-h "
                        (click)="resetPassword()"
                >
                    Đặt lại mật khẩu
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="!valid">
        <div class="mt-5">
            <span class="text-base">Đường dẫn từ email đã quá thời hạn, vui lòng yêu cầu gửi lại email mới</span>
        </div>
        <div class="flex gap-x-10 items-center mt-8">

                <button
                        class="flex w-full justify-center rounded-md bg-active-btn px-3 p-2.5 text-base font-semibold  text-white shadow-sm hover:bg-active-btn-h "
                        (click)="router.navigate(['/forgot-password'])"
                >
                    Yêu cầu gửi lại email
                </button>


                <button
                        class="flex w-full justify-center rounded-md border border-gray-700 px-3 p-2.5 text-base font-semibold  text-text-color shadow-sm hover:bg-gray-200 "
                        (click)="router.navigate(['/'])"
                >
                    Quay lại
                </button>

        </div>

    </div>
</div>
