<div class="py-8   bg-gradient-to-r from-[#355AEE] to-active-btn   shadow-blue-950">
    <footer>
        <div class=" md:flex flex-row  max-w-[1000px] mx-auto gap-x-36 justify-between">
            <div class="w-full  md:w-[50%] px-5 lg:px-0">
                <div class=" flex justify-center">
                    <a routerLink="/" class="header-logo-link text-center">
                        <img src="../../../../assets/images/logo7.png" alt="logo" class="object-cover h-[100px]" />
                    </a>
                </div>
                <div class="font-semibold text-text-white">
                    <p class="uppercase text-[20px]">Công ty TNHH đào tạo trực tuyến skill spring</p>
                    <p class="mt-2">Địa chỉ: 52 Lê Văn Hiến, huyện Cao Lãnh, tỉnh Đồng Tháp</p>
                    <p class="mt-2">Hotline: 0123 456 789</p>
                    <p class="mt-2">Email: ltnguyen1382@gmail.com </p>

                </div>

            </div>
<!--            <div class=" w-full  md:w-[35%] font-semibold text-text-white px-5 lg:px-0">-->
<!--                <p class="mt-[100px] uppercase text-[20px]">Liên kết nhanh</p>-->
<!--                <a routerLink="/introduce" class="block mt-2">Giới thiệu</a>-->
<!--                <a routerLink="/terms-of-service" class="block mt-2">Điều khoản dịch vụ</a>-->
<!--                <a routerLink="/refund-policy" class="block mt-2">Chính sách hoàn tiền</a>-->
<!--            </div>-->
            <div class=" w-full  md:w-[45%] font-semibold text-text-white px-5 lg:px-0">
                <p class="mt-[100px] uppercase text-[20px]">Kết nối với skill spring</p>

                <div class="flex gap-x-5 mt-2">
                    <a routerLink="/" class="text-white bg-[#0054A6] h-10 flex items-center justify-center w-14 shadow-md shadow-blue-950 text-2xl rounded-md">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white bg-red-500 h-10 flex items-center justify-center w-14 shadow-md shadow-blue-950 text-2xl rounded-md">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>

        </div>
    </footer>
</div>