<p-confirmDialog [style]="{'max-width': '600px'}"></p-confirmDialog>

<div class=" mt-10 md:w-[90%] md:max-w-[1400px]  mx-auto px-2 text-text-color mb-10 relative bg">
    <div class="title border-b-[2px] border-border-color pb-5">
        <h1 class="leading-relaxed">Quản lý chủ đề khóa học</h1>
    </div>
    <div class="mt-5 flex flex-wrap gap-x-10 gap-y-5 border-b-[2px]  py-5  px-2">
        <div class="search">
            <input type="text"
                   class="
                        header-search-input
                        w-[200px]
                        rounded-xl
                        rounded-r-none
                        p-2.5
                        px-1.5
                        shadow-sm
                        border-2
                        border-r-0
                        border-custom-gray
                        text-base placeholder:text-gray-500
                        focus:outline-0
                   "
                   placeholder="Tìm kiếm ..." name="keywork"
                   [(ngModel)]="keyword"
                   (keydown.enter)="search()"
            />
            <button class="header-search-btn bg-active-btn py-2.5 px-4 rounded-r-xl border-2 border-l-0 border-custom-gray hover:bg-active-btn-h" (click)="search()">
                <i class="fa-solid fa-magnifying-glass  fa-lg" style="color: #f2f2f2;"></i>
            </button>
        </div>

        <div class="">
            <button class="py-2.5 px-10 text-white font-semibold bg-active-btn hover:bg-active-btn-h  rounded-md shadow-gray-400 shadow-md" (click)="router.navigate(['/admin/categories/add'])">Thêm mới</button>
        </div>
    </div>

    <div class="mt-10">

        <div class="overflow-x-auto mt-5 shadow-gray-400 shadow-md border-[2px] border-border-color ">
            <div class="my-5">
                <h2 class="leading-relaxed text-center">Danh sách chủ đề khóa học</h2>
            </div>
            <table class="min-w-full bg-white border border-gray-300 ">
                <thead>
                <tr class="bg-primary-color text-text-white uppercase text-base">
                    <th class="py-3 px-6 w-1/6 text-center border border-white">Id</th> <!-- Cột chiếm 1/4 độ rộng -->
                    <th class="py-3 px-6 w-1/4 text-center border border-white">Tên chủ đề</th> <!-- Cột chiếm 1/2 độ rộng -->
                    <th class="py-3 px-6 w-1/6 text-center border border-white">Trạng thái</th> <!-- Cột chiếm 1/6 độ rộng -->
                    <th class="py-3 px-6 w-1/5 text-center border border-white"></th> <!-- Cột chiếm 1/6 độ rộng -->
                </tr>
                </thead>
                <tbody class="text-gray-600 text-base font-light">

                <ng-container *ngFor="let category of categories, let i = index">
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="p-3 border border-slate-300  text-center whitespace-nowrap">
                            {{ category.id }}
                        </td>
                        <td class="p-3 border border-slate-300  px-6 text-left whitespace-nowrap">{{ category.name }}</td>
                        <td class="p-3  text-center border border-slate-300 whitespace-nowrap ">
                            <button class="w-[36px] h-[36px] mx-auto bg-delete-btn-h flex justify-center items-center rounded-full shadow-gray-400 shadow-md "
                                    [ngClass]="{'bg-green-700 hover:bg-green-800': category.activated, 'bg-gray-500 hover:bg-custom-gray': !category.activated}"
                                    (click)="confirmToggleActivation(category.id, i)"
                            >
                                <i class="fa-solid fa-check text-white fa-xl"></i>
                            </button>

                        </td>
                        <td class="p-3  text-center border border-slate-300 whitespace-nowrap gap-5 flex justify-center">
                            <button class="bg-active-btn hover:bg-active-btn-h text-white px-5 py-2 rounded " (click)="router.navigate(['admin/categories/edit/',category.id])">Sửa</button>
                            <button class="bg-delete-btn hover:bg-delete-btn-h text-white px-5 py-2 rounded " (click)="confirmDeleteCategory(category.id)">Xóa</button>
                        </td>
                    </tr>

                </ng-container>

                </tbody>
            </table>
        </div>
        <div class="page mt-10 flex justify-center">
            <div class="px-5 flex justify-center max-w-[600px]  gap-1 flex-wrap">
                <button class="py-1 px-[16px] text-active-btn font-semibold  hover:bg-gray-200 border border-active-btn  rounded-sm shadow-gray-400 shadow-md" (click)="pageChange(1)">
                    <i class="fa-solid fa-forward-fast fa-rotate-180"></i>
                </button>
                <ng-container *ngFor="let page of visiblePages">
                    <button class="py-1 px-[16px] text-active-btn font-semibold   border border-active-btn  rounded-sm shadow-gray-400 shadow-md"
                            [ngClass]="{'bg-active-btn text-text-white': categoryQuery.page==page, 'hover:bg-gray-300': categoryQuery.page!=page}"
                            (click)="pageChange(page)"
                    >
                        {{ page }}
                    </button>
                </ng-container>
                <button class="py-1 px-[16px] text-active-btn font-semibold  hover:bg-gray-200 border border-active-btn rounded-sm shadow-gray-400 shadow-md" (click)="pageChange(totalPages)">
                    <i class="fa-solid fa-forward-fast"></i>
                </button>

            </div>
        </div>
    </div>
</div>
